extends layout

block content
  h1 Title: #{drink.name}

  p #[strong discription] #{drink.discription}
  p #[strong ingredients]
    ul
       each ingredient in drink
        li 
          a(href ingredient.url) #{ingredient.name}

  div(style='margin-left:20px;margin-top:20px')
 
 